*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Mono", monospace;
  background: #4d72a9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.profile {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 18rem;
  /* margin-top: 20px; */
  /* height: 16rem; */
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 10px #163f78;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  padding-top: 20px;
}

.round {
  position: relative;
  /* left: 50%; */
  /* transform: translate(-50%); */
  /* top: 10%; */
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #bcd3f8;
}

.dp {
  width: 5rem;
  height: 5rem;
}

.dp img {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.dp .type {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #294266;
  border-radius: 20px;
  padding: 2px 10px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ecf3fc;
  cursor: default;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #131e30;
}

.details .name {
  margin-top: 1rem;
  line-height: 18px;
  font-size: 18px;
  cursor: default;
}

.social {
  /* padding-top: 5px; */
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  font-size: 1.8rem;
}
.social i {
  padding: 1rem;
  width: auto;
}
.social a {
  display: inline-block;
  text-decoration: none;
}

.fa-instagram { color: #e6683c; }
.fa-youtube   { color: #bb0000; }
.fa-github    { color: #000000; }

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa-youtube:hover {
  background: #f5cccc;
}

.fa-github:hover {
  background: #d4d4d4;
}

.fa-instagram:hover {
  background: #ffe4c4;
}

.fa:hover {
  opacity: 0.7;
}

.img-profil {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 5px solid black;
}

.img-profil img {
  margin: -10px 0px 0px -180px;
}

.details .id a {
  text-decoration: none;
  cursor: default;
  color: #294266;
}

.details .id a:before, a:after {
  opacity: 0;
  transition: all 0.3s ease;	
	font-size: 20px;
}

.details .id a:before {
  content: '{';
}

.details .id a:after {
  content: '}';
}

.details .id a:hover:before {
  margin-right: 2px;
  content: '{';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 1;
}

.details .id a:hover:after {
  margin-left: 2px;
  content: '}';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 1;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #cc0000;
}